body{
    background-color: lightblue;
    color : rgba(252, 252, 8, 0.678);
    font-family: 'Acme', sans-serif;    
}
p{
    color :red
    font-size 40px
}
#titulo{
    color: red;
    font-size: 50px;
}
#personalidades{
    color: red;
    font-size: 50px;
}
 #eric{
    width: 100%;
 }